.btn {
  font-family: $fontMain;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  color: $lightColor;
  flex-shrink: 0;

  padding: 16px 66px;
  background: $btnColor;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: background 0.5s;

  &:focus {
    outline: none;
    background: $btnColorHover;
  }

  &:hover {
    background: $btnColorHover;
  }

  &:active {
    background-color: $btnColor;
  }

  &--red {
    background: $btnColorSecondary;

    &:focus {
      background: $btnColorSecondaryHover;
    }
    &:hover {
      background: $btnColorSecondaryHover;
    }

    &:active {
      background: $btnColorSecondary;
    }
  }
}
