.review {
  padding-top: 165px;
  padding-bottom: 65px;

  &__container {
    position: relative;
  }

  &__bg {
    position: absolute;
    margin-top: -780px;
    left: -200px;
    height: 1400px;
    z-index: -1;
    overflow: hidden;
  }

  &__womanbg {
    position: relative;
    margin-top: -550px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__title {
    margin-bottom: 12px;
  }
  &__desc {
    text-align: center;
  }
  &__head {
    max-width: 660px;
    margin-left: auto;
    margin-bottom: 100px;
  }

  &__text {
    max-width: 360px;
  }

  &-slider {
    margin: 0;
    margin-left: auto;
    max-width: 488px;

    &__item {
      background: $lightColor;
      border-radius: 10px;
      border: 1px solid $ThinGrey;
      padding: 60px 30px 30px 30px;
      position: relative;
      z-index: 2;
    }

    &__desc,
    &__caption,
    &__raitong,
    &__sub {
      color: $greyColor;
    }

    &__top {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 40px;
    }

    &__desc {
      max-width: 360px;
    }

    &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      width: 56px;
      height: 56px;
      background: $ThinGrey;
      transition: opacity 0.3s;
      &:hover {
        opacity: 0.7;
      }
    }

    &__icon path {
      fill: $greyColor;
    }

    &__bar {
      display: flex;
      align-items: center;
    }

    &__avatar {
      width: 98px;
      height: 98px;
      border-radius: 50%;
      background: #ffffff;
      box-shadow: 2px 8px 15px rgba(147, 147, 147, 0.25);
      overflow: hidden;

      & img {
        width: 100%;
        height: 100%;
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      margin-left: 40px;
    }

    &__name {
      font-weight: 600;
      margin-bottom: 5px;
    }

    &__caption {
      font-size: 16px;
      margin-bottom: 5px;
    }

    &__rating {
      display: flex;
      align-items: center;
    }

    &__sub {
      font-size: 12px;
      margin-left: 8px;
    }
  }
}
